@font-face {
  font-family: 'private-regular';
  src: url('../fonts/private-parts-montaga-regular.ttf') format('truetype');
}

:root {
  --primary-color: #35185A;
  --primary-font: 'private-regular'
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  min-height: '100vh';
  background-color: #edf2f8;
}